<a href="https://colab.research.google.com/github/AnjaliPaul91/AnjaliPaul91/blob/main/Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # importing libraries

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

import scipy.stats as stats

# importing csv file to python

In [10]:
df = pd.read_csv('Sales_add.csv')

In [12]:
df

       Month  ... Sales_After_digital_add(in $)
0    Month-1  ...                        270390
1    Month-2  ...                        223334
2    Month-3  ...                        244243
3    Month-4  ...                        231808
4    Month-5  ...                        258402
5    Month-6  ...                        256948
6    Month-7  ...                        222106
7    Month-8  ...                        230637
8    Month-9  ...                        226261
9   Month-10  ...                        193735
10  Month-11  ...                        203175
11  Month-12  ...                        276279
12  Month-13  ...                        205180
13  Month-14  ...                        253131
14  Month-15  ...                        229336
15  Month-16  ...                        187305
16  Month-17  ...                        234908
17  Month-18  ...                        191517
18  Month-19  ...                        227040
19  Month-20  ...                        212579
20  Month-21  ...                        263388
21  Month-22  ...                        243020

[22 rows x 5 columns]

# summary of the dataset

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [14]:
# Calculating the null values present in each columns in the dataset
df.isna().sum() # or you can use df.isnull().sum() as well

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [15]:
# the total number of elements in each dimension
df.shape

(22, 5)

Here we can use t-test its because t-test is used for hypothesis testing when sample size is small, usually n < 30 where n is used to quantify the sample size

In [16]:
# calculating the region feature with values inside in the dataset
df.groupby('Region').count()

            Month  ...  Sales_After_digital_add(in $)
Region             ...
Region - A     10  ...                             10
Region - B      7  ...                              7
Region - C      5  ...                              5

[3 rows x 4 columns]

In [17]:
# calculating the average sales before and after on region wise
df.groupby(['Region'])['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)'].mean().round(2)

            Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
Region
Region - A                       148204.90                      238853.10
Region - B                       150523.57                      228727.86
Region - C                       149513.00                      219019.20

In [18]:
# calculating the manager feature with values inside in the dataset
df.groupby('Manager').count()

             Month  ...  Sales_After_digital_add(in $)
Manager             ...
Manager - A      9  ...                              9
Manager - B      7  ...                              7
Manager - C      6  ...                              6

[3 rows x 4 columns]

In [19]:
# calculating the average sales before and after on manager wise
df.groupby(['Manager'])['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)'].mean().round(2)

             Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
Manager
Manager - A                       145875.22                      244402.67
Manager - B                       155499.29                      218899.14
Manager - C                       146984.50                      225467.33

In [20]:
# calculating the region and manager features with values inside in the dataset
df.groupby(['Region','Manager']).count()

                        Month  ...  Sales_After_digital_add(in $)
Region     Manager             ...
Region - A Manager - A      4  ...                              4
           Manager - B      3  ...                              3
           Manager - C      3  ...                              3
Region - B Manager - A      4  ...                              4
           Manager - B      1  ...                              1
           Manager - C      2  ...                              2
Region - C Manager - A      1  ...                              1
           Manager - B      3  ...                              3
           Manager - C      1  ...                              1

[9 rows x 3 columns]

In [21]:
# calculating the average sales before and after on both region and manager 
df.groupby(['Region','Manager'])['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)'].mean().round(2)

                        Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
Region     Manager
Region - A Manager - A                       148628.50                      257609.25
           Manager - B                       155617.00                      218944.00
           Manager - C                       140228.00                      233754.00
Region - B Manager - A                       142725.00                      234962.75
           Manager - B                       152167.00                      231808.00
           Manager - C                       165299.00                      214718.00
Region - C Manager - A                       147463.00                      229336.00
           Manager - B                       156492.33                      214551.33
           Manager - C                       130625.00                      222106.00

In [22]:
# statistical summary of the data
df[['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)']].describe().T # diagonal by writing rows as columns

                                count           mean  ...       75%       max
Sales_before_digital_add(in $)   22.0  149239.954545  ...  157627.5  178939.0
Sales_After_digital_add(in $)    22.0  231123.727273  ...  250909.0  276279.0

[2 rows x 8 columns]

The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [ ]:
# Formulating Hypothesis
# H0: There is increase in sales after stepping to digital marketing
# H1: There is no increase in sales after stepping to digital marketing

In [ ]:
# Since we want to test the increase in sales we will use right tailed t test

In [27]:
# assign sales before and after values to the variables
sales_before_add = df['Sales_before_digital_add(in $)']
sales_after_add = df['Sales_After_digital_add(in $)']

In [28]:
# ttest independence values of tvalue and pvalue
tvalue, pvalue = stats.ttest_ind(sales_before_add,sales_after_add)
stats.ttest_ind(sales_before_add,sales_after_add)

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

In [29]:
# 2 tail t test since sales can increase or decrease
tcriteria=stats.t.ppf(1-0.05,40)
# Percent Point Function
stats.t.ppf(1-0.05,40)

1.68385101138658

test statistics > test criteria and pvalue < 0.05

In [30]:
if (tvalue>tcriteria and pvalue <0.05):
    print('Reject H0:There is increase in sales after stepping to digital marketing')
else:
    print('Reject H1:There is no increase in sales after stepping to digital marketing')

Reject H1:There is no increase in sales after stepping to digital marketing

As per the hypothesis testing there is increase in sales after stepping into digital marketing

In [ ]:
The company needs to check whether there is any dependency between the features “Region” and “Manager”.
Hypothesis

(Null Hypothesis) H0: Region and Manager features are independent
(Alternate Hypothesis) H1: Region and Manager features are dependent

In [33]:
data1=data.groupby('Region')['Manager'].value_counts().unstack()

In [ ]:
# grouping variables and factors into row and columns to do chi square test to check dependency
# Hypothesis
# H0:Reject H0: Region and Manager features are independent
# H1:Region and Manager features are dependent

In [34]:
data1

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [36]:
#perform the Chi-Square Test of Independence
chivalue,pvalue,df,expvalues=stats.chi2_contingency(data1)

In [37]:
print('Chi sqaure Test Statistic:',chivalue)
print('Pvalue of test data;',pvalue)
print('Degrees of Freedom:',df)
print('expected observations of data:',expvalues)

Chi sqaure Test Statistic: 3.050566893424036
Pvalue of test data; 0.5493991051158094
Degrees of Freedom: 4
expected observations of data: [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [38]:
# chi square criteria value for significance of 0.05 and degrees of freedom (3-1)*(3-1) =4 
chicriteria=stats.chi2.ppf(1-0.05,4)
stats.chi2.ppf(1-0.05,df=4)

9.487729036781154

In [39]:
if(chivalue>chicriteria and pvalue<0.05):
    print('Reject H0: Region and Manager features are independent')
else:
    print('Reject H1:Region and Manager features are dependent')

Reject H1:Region and Manager features are dependent

As per Chi square test for independence the Features Region and Manager are independent